U1-Introduccion_XML/Xml/biblioteca.dtd

<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (autor, titulo, genero, capitulos?)>
<!ELEMENT autor (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT capitulos (capitulo+)>
<!ELEMENT capitulo (nombre, inicio, final)>
<!ELEMENT inicio (#PCDATA)>
<!ELEMENT final (#PCDATA)>